# Dependencies
node_modules/

# React Native
.metro-health-check*

# Android
android/build/
android/.gradle/
android/app/build/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
*.xcuserdata
*.xcworkspace

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Misc
.DS_Store
*.hprof
